<script setup lang="ts">
	useHead({
		title: "WebLibros",
	});

	const { t } = useI18n();
</script>

<template>
	<div class="grid place-items-center min-h-[80vh]">
		<router-link
			:to="{ name: 'login' }"
			class="mt-5 text-center hover:text-gray-200 dark:hover:text-gray-500 hover:underline"
			>{{ t("pages.login") }}</router-link
		>
	</div>
</template>

<route lang="yaml">
name: home
</route>
