<template>
	<div class="flex flex-wrap justify-center content-center h-screen w-full">
		<form class="w-64 h-fit" @submit="onSubmit">
			<p class="cy-login text-lg">login</p>
			<div class="mb-6">
				<input
					name="email"
					type="text"
					v-model="emailValue"
					class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
					placeholder="Email"
				/>
				<span> {{ emailErrorMessage }}</span>
			</div>

			<div class="mb-6">
				<input
					type="password"
					v-model="passwordValue"
					name="password"
					class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
					placeholder="Password"
				/>
				<span> {{ passwordErrorMessage }}</span>
			</div>
			<div class="flex justify-between items-center mb-6">
				<div class="form-group form-check">
					<input
						type="checkbox"
						class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
						id="exampleCheck3"
						checked
					/>
					<label
						class="form-check-label inline-block text-gray-800"
						for="exampleCheck2"
						>Remember me</label
					>
				</div>
				<a
					href="reset-password"
					class="text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 duration-200 transition ease-in-out"
					>Forgot password?</a
				>
			</div>

			<button
				type="submit"
				:disabled="
					isSubmitting || !!passwordErrorMessage || !!emailErrorMessage
				"
				class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg disabled:bg-slate-500 focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
				data-mdb-ripple="true"
				data-mdb-ripple-color="light"
			>
				Sign in
			</button>
		</form>
	</div>
</template>

<script lang="ts" setup>
	import { useField, useForm } from "vee-validate";
	import * as yup from "yup";
	import { useJwtStore } from "@/store/jwt";
	import { LoginForm } from "@/store/jwt/types";

	const { handleSubmit, isSubmitting } = useForm();
	const jwtStore = useJwtStore();

	const { errorMessage: passwordErrorMessage, value: passwordValue } = useField(
		"password",
		yup.string().required().min(8)
	);

	const { errorMessage: emailErrorMessage, value: emailValue } = useField(
		"email",
		yup.string().required().email()
	);

	const onSubmit = handleSubmit(async values => {
		const form: LoginForm = {
			username: values.email,
			password: values.password,
		};
		await jwtStore.getToken(form);
	});
</script>

<route lang="yaml">
name: login
</route>
